<?xml version="1.0" encoding="utf-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-qrscanreceiver" version="1.0.4">
  <name>qrscanreceiver</name>
  <js-module name="qrscanreceiver" src="www/qrscanreceiver.js">
    <clobbers target="cordova.plugins.qrscanreceiver"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="qrscanreceiver">
        <param name="android-package" value="com.esco.qrscanreceiver.QRScanReceiver"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/QRScanReceiver.java" target-dir="src/com/esco/qrscanreceiver"/>
  </platform>
</plugin>
