<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-zebra-d" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZebraD</name>
    <js-module name="ZebraD" src="www/ZebraD.js">
        <clobbers target="ZebraD"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZebraD">
                <param name="android-package" value="zebra.d.ZebraD"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="com.zebra.provider.READ"/>
            <uses-permission android:name="com.symbol.emdk.permission.EMDK"/>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <uses-library android:name="com.symbol.emdk"/>
        </config-file>
        <source-file src="src/android/ZebraD.java" target-dir="zebra/d/"/>
        <framework custom="true" src="libs/android/zebra-build.gradle" type="gradleReference"/>
    </platform>
</plugin>