asgihandler==0.3.9
asgiref==3.5.2
attrs==21.4.0
autobahn==22.6.1
Automat==20.2.0
autopep8==1.6.0
certifi==2022.6.15
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.4
daphne==3.0.2
Django==3.1.14
django-cors-headers==3.7.0
django-filter==2.4.0
django-silk==4.2.0
djangorestframework==3.12.4
djangorestframework-csv==2.1.1
drf-yasg==1.20.0
et-xmlfile==1.1.0
gprof2dot==2021.2.21
hyperlink==21.0.0
idna==2.10
incremental==21.3.0
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
numpy==1.23.1
openpyxl==3.0.10
packaging==21.3
pandas==1.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
Pygments==2.12.0
PyHamcrest==2.0.3
pyOpenSSL==22.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.25.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.1.1
scipy==1.8.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
threadpoolctl==3.1.0
toml==0.10.2
Twisted==22.4.0
txaio==22.2.1
typing_extensions==4.3.0
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.10
zope.interface==5.4.0
