<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-darryncampbell-cordova-plugin-intent" version="2.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Intent Shim</name>
    <js-module name="IntentShim" src="www/IntentShim.js">
        <clobbers target="intentShim" />
    </js-module>
    
    <hook type="after_prepare" src="hooks/after_prepare.js" />
	
	<!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IntentShim" >
                <param name="android-package" value="com.darryncampbell.cordova.plugin.intent.IntentShim"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest/application/activity" mode="merge">
            <intent-filter>
                <action android:name="com.darryncampbell.cordova.plugin.intent.ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest" mode="merge">
            <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
        </config-file>
        <config-file target="AndroidManifest.xml" platform="android" parent="/manifest/application" mode="merge">
            <provider
                android:name="com.darryncampbell.cordova.plugin.intent.CordovaPluginIntentFileProvider"
                android:authorities="${applicationId}.darryncampbell.cordova.plugin.intent.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
            </provider>
        </config-file>
        <source-file src="src/android/IntentShim.java" target-dir="src/com/darryncampbell/plugin/intent" />
        <source-file src="src/android/CordovaPluginIntentFileProvider.java" target-dir="src/com/darryncampbell/plugin/intent" />
		<resource-file src="src/android/res/xml/provider_paths.xml" target="res/xml/provider_paths.xml"/>
		<framework src="androidx.core:core:1.1.0" />
    </platform>
	
</plugin>
