<plugin
  xmlns="http://www.phonegap.com/ns/plugins/1.0"
  id="es6-promise-plugin"
  version="4.2.2">

  <name>Promise</name>
  <author>Vlad Stirbu</author>
  <license>MIT</license>
  <keywords>es6-promise,polyfill</keywords>

  <description>
    A polyfill for ES6-style Promises, tracking npm es6-promise
  </description>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/promise.js" name="Promise">
    <runs />
  </js-module>

  <platform name="ios"></platform>
  <platform name="android"></platform>
  <platform name="windows"></platform>
  <platform name="browser"></platform>
</plugin>
