<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.bluefruitle" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BluefruitLE</name>
    <description>
        A sample Apache Cordova application connects to the Nordic UART Service.
    </description>
    <author href="http://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-ble-central" spec="~1.1.4" />
</widget>
