<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-keyboard" version="1.2.0">
    <name>Keyboard</name>
    <description>Cordova Keyboard Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,keyboard</keywords>

    <engines>
	<engine name="cordova" version=">=3.2.0" />
    </engines>

    <js-module src="www/keyboard.js" name="keyboard">
    	<clobbers target="window.Keyboard" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Keyboard">
                <param name="ios-package" value="CDVKeyboard" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVKeyboard.h" />
        <source-file src="src/ios/CDVKeyboard.m" />
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Keyboard">
                <param name="android-package" value="org.apache.cordova.labs.keyboard.Keyboard" onload="true" />
            </feature>
        </config-file>

        <source-file src="src/android/Keyboard.java" target-dir="src/org/apache/cordova/labs/keyboard" />
    </platform>

</plugin>
