<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-idatascanner" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>iDataScanner</name>
	<js-module name="iDataScanner" src="www/iDataScanner.js">
		<clobbers target="iDataScanner" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="iDataScanner">
				<param name="android-package" value="iDataScanner.iDataScanner" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/iDataScanner.java" target-dir="src/iDataScanner" />
	</platform>
</plugin>