<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.robosmart" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RoboSmart</name>
    <description>
        Use Cordova Bluetooth Plugin to control Smartbotics RoboSmart lightbulb
    </description>
    <author href="https://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />    
</widget>
