<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yertnamreg.sensortag.cc2650" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CC2650 SensorTag</name>
    <description>
        Use Cordova Bluetooth Plugin to read values from TI CC2650 SensorTag
    </description>
    <author href="https://github.com/treygerman">
           Trey German
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
</widget>
