<el-dialog title="部署教程" :lock-scroll="false" :visible.sync="dialogVisibleDeploy" width="700px">
<h4>部署教程: </h4>
    <div style="margin-bottom: 20px">本教程教你如何本地单机部署，本地局域网部署，或者使用Nginx，Apache2将你项目部署到服务器上</div>

    <template>
  <el-tabs v-model="deployName" type="border-card" style="margin-bottom: 30px">
    <el-tab-pane name="first">
        <span slot="label"><img src="/media/img/local.png" alt="本地"style="width:20px; height:20px">本地部署</span>{</br>
        &nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        &nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>
        &nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        }</el-tab-pane>
    <el-tab-pane name="second">
        <span slot="label"><img src="/media/img/localnet.png" alt="局域网部署"style="width:20px; height:20px">局域网部署</span>[{</br>
        &nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        &nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>
        &nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        }]</el-tab-pane>
    <el-tab-pane name="third">
        <span slot="label"><img src="/media/img/nginx.png" alt="Nginx部署"style="width:20px; height:20px">Nginx部署</span>{</br>
        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>
        }</el-tab-pane>
    <el-tab-pane name="fourth">
        <span slot="label"><img src="/media/img/apache.png" alt="Apache2部署"style="width:20px; height:20px">Apache2部署</span>{</br>
        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]</br>
        }</el-tab-pane>
          <el-tab-pane name="fifth">
        <span slot="label"><img src="/media/img/docker.png" alt="Docker部署"style="width:20px; height:20px">Docker部署</span>{</br>
        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]</br>
        }</el-tab-pane>
  </el-tabs>
</template>
  <div style="text-align: center">
    <el-button type="success" size="mini" @click="dialogVisibleStyle = false">关 闭</el-button>
  </div>
</el-dialog>