<!DOCTYPE html><html><head><title>聚商汇WMS--仓库管理系统</title><meta charset=utf-8><meta name=description content=聚商汇WMS--仓库管理系统><meta name=keywords content=聚商汇,wms-system,开源软件,开源wms,开源仓库管理软件,仓库管理软件,仓库管理,免费软件,免费wms><meta name=format-detection content="telephone=no"><meta name=msapplication-tap-highlight content=no><meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width"><script async src="https://www.googletagmanager.com/gtag/js?id=UA-174946374-1"></script><script>document.write(unescape("%3Cspan id='cnzz_stat_icon_1279203243'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279203243%26online%3D1' type='text/javascript'%3E%3C/script%3E"));</script><script>var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?5efb624b19920b43bae25d88fedcf33a";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();</script><meta name=baidu-site-verification content=HHrF302UDs><link rel="shortcut icon" href=statics/icons/logo.png><script>var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?5efb624b19920b43bae25d88fedcf33a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();</script><link href=css/app.81faa398.css rel=stylesheet></head><body style="overflow-y: hidden"><div id=q-app></div><script src=js/vendor.273ca962.js></script><script src=js/app.ba560b42.js></script><script src=js/runtime.db778e55.js></script></body></html>