{% load static %}
<!doctype html>
<html lang="zh-CN">
    <head>
        <title>聚商汇--供应链管理系统快速开发工具</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="content-language" content="zh-cn" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
        <meta name="baidu-site-verification" content="LQ7S6D6xBj" />
        <meta name="description" content="聚商汇--企业供应链管理系统快速开发工具">
        <meta name="keywords" content="系统快速开发工具,WMS-API,TMS-API,WMS,TMS,SCM-API,SCM,企业管理系统,开发工具，仓库管理系统，供应链管理系统">
        <meta name="author" content="聚商汇-API" >
        {% block meta %}{% endblock %}
        {% block link %}{% endblock %}
        <link rel="stylesheet" href="https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css">
        <link rel="shortcut icon" href="/static/index/logo.png">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?5efb624b19920b43bae25d88fedcf33a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
    </head>
    <body>
    <div id="link">
<el-menu :default-active="activeIndex" mode="horizontal" @select="handleSelect">
  <el-menu-item index="1">处理中心</el-menu-item>
  <el-submenu index="2">
    <template slot="title">我的工作台</template>
    <el-menu-item index="2-1">选项1</el-menu-item>
    <el-menu-item index="2-2">选项2</el-menu-item>
    <el-menu-item index="2-3">选项3</el-menu-item>
    <el-submenu index="2-4">
      <template slot="title">选项4</template>
      <el-menu-item index="2-4-1">选项1</el-menu-item>
      <el-menu-item index="2-4-2">选项2</el-menu-item>
      <el-menu-item index="2-4-3">选项3</el-menu-item>
    </el-submenu>
  </el-submenu>
  <el-menu-item index="3" disabled>消息中心</el-menu-item>
  <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
<el-menu-item index="8" style="float: right"><el-link @click="lock()" :underline="false" icon="el-icon-lock" v-show="lockdata">锁定</el-link>
<el-link @click="lock()" :underline="false" icon="el-icon-unlock" v-show="!lockdata">编辑</el-link>
</el-menu-item>
        <el-submenu index="9" style="float: right">
    <template slot="title">{{ request.user.username }}</template>
    <el-menu-item index="9-1"><el-link :underline="false" icon="el-icon-setting">更换账号</el-link></el-menu-item>
    <el-menu-item index="9-2"><el-link :underline="false" icon="el-icon-setting">更换密码</el-link></el-menu-item>
    <el-menu-item index="9-3"><el-link :underline="false" icon="el-icon-setting">退出</el-link></el-menu-item>
  </el-submenu>
    </el-menu>
<div class="line"></div>
        <el-row>
  <el-col :span="4">
    <el-menu
      default-active="2"
      class="el-menu-vertical-demo"
      @open="handleOpen"
      @close="handleClose">
      <el-submenu index="1">
        <template slot="title">
          <i class="el-icon-location"></i>
          <span>导航一</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1">选项1<i class="el-icon-edit"style="padding-left: 50px"></i><i class="el-icon-delete"></i></el-menu-item>
          <el-menu-item index="1-2">选项2</el-menu-item>
        </el-menu-item-group>
        <el-menu-item-group title="分组2">
          <el-menu-item index="1-3">选项3</el-menu-item>
        </el-menu-item-group>
        <el-submenu index="1-4">
          <template slot="title">选项4</template>
          <el-menu-item index="1-4-1">选项1</el-menu-item>
        </el-submenu>
      </el-submenu>
      <el-menu-item index="2">
        <i class="el-icon-menu"></i>
        <span slot="title">导航二</span>
      </el-menu-item>
      <el-menu-item index="3" disabled>
        <i class="el-icon-document"></i>
        <span slot="title">导航三</span>
      </el-menu-item>
      <el-menu-item index="4">
        <i class="el-icon-setting"></i>
        <span slot="title">导航四</span>
      </el-menu-item>
    </el-menu>
  </el-col>
  <el-col :span="6">2222</el-col>
  <el-col :span="6">3333</el-col>
  <el-col :span="6">4444</el-col>
            {% include 'drawer.html' %}
</el-row>
    </div>
        <script src="{% static 'vue/axios.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.1"></script>
        <script src="https://unpkg.com/element-ui@2.13.0/lib/index.js"></script>
        {% block script %}{% endblock %}
    <script>
    var link= new Vue({
        delimiters: ["{[", "]}"],
        el: "#link",
        data: {
            activeIndex: '1',
            lockdata: false,
            drawer: true,

        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
    },
            lock(){
                if (this.lockdata){
                    this.lockdata = false
                }else{
                    this.lockdata = true
                }

            }
        },
        created(){
        },
        mounted(){

        },
        updated(){

        },
    })
</script>
    </body>
</html>