<el-dialog
        title="使用指南"
        :visible.sync="dialogVisibleOperation"
        fullscreen
        style="overflow-x: hidden; overflow-y: auto;">
        <p><h4><strong>范例: </strong><el-button size="small" type="success" @click="dialogVisibleOperation = false" style="float: right">关 闭</el-button></h4></p>
    <div style="margin-bottom: 10px">
        这里显示几个请求api的范例，仅以get格式为例，其他请求请自行调整参数，data参数样式请访问&nbsp;&nbsp;&nbsp;&nbsp;<el-button size="small" type="primary" plain @click="styleOpen()">参数格式</el-button></br>
        小程序仅使用微信小程序作为案例</br>
        除了系统默认的属性地址不需要在api地址中添加openid参数外（如bintype库位属性的查询......），所有的请求都需要有openid让服务器验证。
    </div>
    <template>
  <el-tabs v-model="operationName" type="border-card" style="margin-bottom: 30px">
    <el-tab-pane name="first">
        <span slot="label"><img src="/media/img/js.png" alt="Ajax"style="width:20px; height:20px">Ajax</span>
    $.ajax({</br>
            &nbsp;&nbsp;&nbsp;&nbsp;url : "https://www.56yhz.com/bintype/?openid={[openid]}",&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//此接口为系统默认库位状态接口</br>
            &nbsp;&nbsp;&nbsp;&nbsp;type : "GET",</br>
           &nbsp;&nbsp;&nbsp;&nbsp;contentType: "application/json;charset=utf-8",</br>
           &nbsp;&nbsp;&nbsp;&nbsp;data : JSON.stringify(</br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<el-button size="small" type="primary" plain @click="styleOpen()">参数格式</el-button></br>
        &nbsp;&nbsp;&nbsp;&nbsp;),</br>
           &nbsp;&nbsp;&nbsp;&nbsp;success : function(result) {</br>
        &nbsp;&nbsp;&nbsp;&nbsp;},</br>
           &nbsp;&nbsp;&nbsp;&nbsp;error:function(msg){</br>
           &nbsp;&nbsp;&nbsp;&nbsp;}</br>
         })</br>
    </el-tab-pane>
    <el-tab-pane name="second">
        <span slot="label"><img src="/media/img/a.png" alt="Axios"style="width:20px; height:20px">Axios</span>
        axios({</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;url: 'https://www.56yhz.com/bintype/?openid={[openid]}',&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//此接口为系统默认库位状态接口</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;method: 'get',</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;headers: {</br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"Content-Type": "application/json;charset=utf-8",</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;},</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;params: {</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;},</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;data: {</br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<el-button size="small" type="primary" plain @click="styleOpen()">参数格式</el-button></br>
                    &nbsp;&nbsp;&nbsp;&nbsp;}</br>
                &nbsp;&nbsp;&nbsp;&nbsp;}).then(res => {</br>
                    &nbsp;&nbsp;&nbsp;&nbsp;}</br>
                &nbsp;&nbsp;&nbsp;&nbsp;}).catch(err => {</br>
                &nbsp;&nbsp;&nbsp;&nbsp;})</br>
                </el-tab-pane>
{#    <el-tab-pane name="third">#}
{#        <span slot="label"><img src="/media/img/php.png" alt="PHP"style="width:20px; height:20px">PHP</span>{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}</br>#}
{#        }</el-tab-pane>#}
{#    <el-tab-pane name="fourth">#}
{#        <span slot="label"><img src="/media/img/java.png" alt="Java"style="width:20px; height:20px">Java</span>{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]</br>#}
{#        }</el-tab-pane>#}
          <el-tab-pane name="fifth">
              <span slot="label"><img src="/media/img/python.png" alt="Python" style="width:20px; height:20px">Python</span>
              import requests</br>
import json</br>
</br>
url = 'https://www.56yhz.com/bintype/?openid={[openid]}',&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//此接口为系统默认库位状态接口</br>
headers = {</br>
&nbsp;&nbsp;&nbsp;&nbsp;"Content-Type": "application/json;charset=utf-8",</br>
}</br>
result = requests.get(url, headers=headers).text</br>
print(json.loads(result))</br>
        </el-tab-pane>
{#             <el-tab-pane name="sixth">#}
{#                 <span slot="label"><img src="/media/img/swift.png" alt="Swift" style="width:20px; height:20px">Swift</span>{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]</br>#}
{#        }</el-tab-pane>#}
{#             <el-tab-pane name="seventh">#}
{#                 <span slot="label"><img src="/media/img/android.png" alt="Android" style="width:20px; height:20px">Android</span>{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]</br>#}
{#        }</el-tab-pane>#}
{#             <el-tab-pane name="eighth">#}
{#                 <span slot="label"><img src="/media/img/o.png" alt="Object-C" style="width:20px; height:20px">Object-C</span>{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]</br>#}
{#        }</el-tab-pane>#}
                   <el-tab-pane name="ninth">
                       <span slot="label"><img src="/media/img/wx.png" alt="小程序" style="width:20px; height:20px">小程序</span>
                       wx.request({</br>
  &nbsp;&nbsp;&nbsp;&nbsp;url: 'https://www.56yhz.com/bintype/?openid={[openid]}', &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//此接口为系统默认库位状态接口</br>
  &nbsp;&nbsp;&nbsp;&nbsp;method:'GET',</br>
                       &nbsp;&nbsp;&nbsp;&nbsp;data: {</br>
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<el-button size="small" type="primary" plain @click="styleOpen()">参数格式</el-button></br>
  &nbsp;&nbsp;&nbsp;&nbsp;},</br>
  &nbsp;&nbsp;&nbsp;&nbsp;header: {</br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'content-type': 'application/json, charset=utf-8' // 默认值</br>
  &nbsp;&nbsp;&nbsp;&nbsp;},</br>
  &nbsp;&nbsp;&nbsp;&nbsp;success (res) {</br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log(res.data)</br>
  &nbsp;&nbsp;&nbsp;&nbsp;}</br>
})</br>

        </el-tab-pane>
{#      <el-tab-pane name="tenth">#}
{#          <span slot="label"><img src="/media/img/c.png" alt="C#" style="width:20px; height:20px">C#</span>{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]</br>#}
{#        }</el-tab-pane>#}
{#            <el-tab-pane name="eleventh">#}
{#          <span slot="label"><img src="/media/img/go.png" alt="Golang" style="width:20px; height:20px">Golang</span>{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;"data":</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"example": "example"</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' ' '</br>#}
{#        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}]</br>#}
{#        }</el-tab-pane>#}
  </el-tabs>
</template>

    <h4><strong>openid: </strong></h4>
    <div style="margin-bottom: 30px">
        openid，是唯一用户标识，通过网站注册的账号为开发者账号，得到的openid是开发者账号的openid，使用开发者账号的openid
    可以创建用户，修改用户信息。</br>使用开发者账号openid创建出来的用户，没有创建用户和修改用户的权限</div>
    <h4><strong>openid: </strong></h4>
    <div style="margin-bottom: 30px"></div>
        <h4><strong>openid: </strong></h4>
    <div style="margin-bottom: 30px"></div>
        <h4><strong>openid: </strong></h4>
    <div style="margin-bottom: 30px"></div>

  <div style="text-align: center">
    <el-button type="success" size="small" @click="dialogVisibleOperation = false">关 闭</el-button>
  </div>
</el-dialog>