<?xml version='1.0' encoding='utf-8'?>
<widget id="com.megster.example.hrm" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HeartRate</name>
    <description>
        BLE Heart Rate Monitor Demo
    </description>
    <author href="https://github.com/don">
        Don Coleman
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
